# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [26]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [27]:
# Importing the dataset
pokemon = pd.read_csv("pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [28]:
# My hypothesis for calculating Total is Total = HP + Attack + Defense + Sp. Atk + Sp. Def + Speed.

check = pokemon["Total"] == pokemon.iloc[:, 5:11].sum(axis = 1)
check.unique()

# As check returns only True value, so the hypothesis is correct.

array([ True])

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [29]:
def correct_name(x):
    
    if 'Mega' in x['Name']:
        return 'Mega' + x['Name'].partition('Mega')[2]
    else:
        return x['Name']
        
    
pokemon["Name"] = pokemon.apply(correct_name, axis = 1)

In [30]:
# type1 = pokemon["Type 1"].unique()

In [31]:
# type1 = pokemon["Type 1"].unique()
# display(type1)

# type2 = pokemon[["Type 2"]].fillna("NA")
# display(type2.unique())

# display(list(zip(list(type1),list(type2))))

In [32]:
sorted_cols1 = sorted(pokemon["Type 1"].unique())

encoder = OneHotEncoder().fit(pokemon[["Type 1"]])
encoded = encoder.transform(pokemon[["Type 1"]]).toarray()
onehot_encoded = pd.DataFrame(encoded, columns = sorted_cols1)
display(onehot_encoded.head())

cols = pokemon["Type 2"].fillna("null").unique()
sorted_cols2 = sorted(cols)

encoder2 = OneHotEncoder().fit(pokemon[["Type 2"]])
encoded2 = encoder2.transform(pokemon[["Type 2"]]).toarray()
onehot_encoded2 = pd.DataFrame(encoded2, columns = sorted_cols2)
display(onehot_encoded2.head())

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,null
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [34]:
all_type_pokemon = onehot_encoded + onehot_encoded2
all_type_pokemon = all_type_pokemon.drop(["null"], axis = 1)
display(all_type_pokemon.shape)
all_type_pokemon.head()

(800, 18)

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [35]:
# your code here

all_type_pokemon["Total"] = pokemon["Total"]
all_type_pokemon.head().T

              0      1      2      3      4
Bug         0.0    0.0    0.0    0.0    0.0
Dark        0.0    0.0    0.0    0.0    0.0
Dragon      0.0    0.0    0.0    0.0    0.0
Electric    0.0    0.0    0.0    0.0    0.0
Fairy       0.0    0.0    0.0    0.0    0.0
Fighting    0.0    0.0    0.0    0.0    0.0
Fire        0.0    0.0    0.0    0.0    1.0
Flying      0.0    0.0    0.0    0.0    0.0
Ghost       0.0    0.0    0.0    0.0    0.0
Grass       1.0    1.0    1.0    1.0    0.0
Ground      0.0    0.0    0.0    0.0    0.0
Ice         0.0    0.0    0.0    0.0    0.0
Normal      0.0    0.0    0.0    0.0    0.0
Poison      1.0    1.0    1.0    1.0    0.0
Psychic     0.0    0.0    0.0    0.0    0.0
Rock        0.0    0.0    0.0    0.0    0.0
Steel       0.0    0.0    0.0    0.0    0.0
Water       0.0    0.0    0.0    0.0    0.0
Total     318.0  405.0  525.0  625.0  309.0

In [36]:
from matplotlib.pyplot import figure
import seaborn as sns

figure(figsize=(15, 8), dpi=80)

corr_matrix = all_type_pokemon.corr()
best_pokemon = corr_matrix.sort_values(by = "Total", ascending = False)
best_pokemon["Total"]

Total       1.000000
Dragon      0.229705
Psychic     0.124688
Steel       0.109703
Fire        0.078726
Fighting    0.077786
Ice         0.060248
Flying      0.059383
Dark        0.056154
Rock        0.032731
Electric    0.020971
Ground      0.015060
Ghost       0.003641
Water      -0.021665
Fairy      -0.036698
Grass      -0.052592
Poison     -0.090441
Normal     -0.105331
Bug        -0.145781
Name: Total, dtype: float64

In [37]:
# Fairy seems to be the best combination pokemon.

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [38]:
# your code here

grouped_pokemon = pokemon.groupby(["Type 1", "Type 2"]).agg({"Total" : "max"})
grouped_pokemon.reset_index()

    Type 1    Type 2  Total
0      Bug  Electric    472
1      Bug  Fighting    600
2      Bug      Fire    550
3      Bug    Flying    600
4      Bug     Ghost    236
..     ...       ...    ...
131  Water       Ice    535
132  Water    Poison    515
133  Water   Psychic    590
134  Water      Rock    495
135  Water     Steel    530

[136 rows x 3 columns]

In [39]:
best_pokemon_combo = grouped_pokemon.sort_values(by = ["Total"], ascending = False)
best_pokemon_combo.head()

                  Total
Type 1  Type 2
Psychic Fighting    780
Dragon  Flying      780
Ground  Fire        770
Dragon  Ice         700
Steel   Psychic     700

In [40]:
# Psychic- Fighting and Dragon-Flying have same total score. Hence they are best fighting pokemon